@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:"Jost",sans-serif;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:url("./images/background.png")
no-repeat center/cover;
}

.container{
width:100%;
padding:20px;
}

.todo-app{
max-width:450px;
margin:auto;
padding:30px;
border-radius:25px;
background:rgba(255,255,255,.12);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.2);
box-shadow: 0 20px 50px rgba(0,0,0,.4);
color:white;
}

h1{
text-align:center;
margin-bottom:25px;
}

.input-area{
display:flex;
gap:10px;
}

.input-area input{
flex:1;
padding:12px 18px;
border-radius:30px;
border:none;
outline:none;
background:rgba(255,255,255,.2);
color:white;
font-size:16px;
}

input::placeholder{
color:#ddd;
}

.input-area button{
width:45px;
height:45px;
border-radius:50%;
border:none;
cursor:pointer;
background:#ff4fa3;
color:white;
font-size:20px;
}

.stats{
display:flex;
justify-content:space-between;
align-items:center;
margin:20px 0;
}

#clear-btn{
background:none;
border:none;
color:#ff9bc9;
cursor:pointer;
}

.filter{
display:flex;
gap:10px;
margin-bottom:20px;
}

.filter-btn{
flex:1;
padding:8px;
border-radius:20px;
border:none;
cursor:pointer;
background:rgba(255,255,255,.2);
color:white;
}

.filter-btn.active{
background:#ff4fa3;
}

#task-list{
list-style:none;
}

#task-list li{
display:flex;
align-items:center;
gap:10px;
padding:12px;
margin-bottom:10px;
border-radius:20px;
background:rgba(255,255,255,.15);
animation: slide .3s ease;
}

@keyframes slide{from{transform: translateY(20px); opacity:0;
}

to{transform:none; opacity:1;}
}

.checkbox{
width:20px;
height:20px;
cursor:pointer;
}

.task-text{
flex:1;
}

.completed .task-text{
text-decoration:line-through;
opacity:.5;
}

.actions button{
border:none;
background:none;
color:white;
cursor:pointer;
margin-left:8px;
}

.edit{
color:#ffd000;
}

.delete{
color:#ff5577;
}

.empty{
text-align:center;
opacity:.7;
margin-top:20px;
font-size:20px;
}

.empty i{
font-size:40px;
}

@media(max-width:500px){.todo-app{
padding:20px;
}
}